*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid saddlebrown;
}
.flexboxClass{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cheesecake-image{
    width: 969px;
    height: 444p;
    top: 219px;
    left: 234px;
    border-radius: 12px;
}
