@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
}

:root{
    --fs-heading: 3rem;
    --fs-recon: 0.875rem;
    --fs-ingrd-head:1.5rem;
    --fs-crust:1.125rem;
    --fs-cheesecake-ingrd: 1.125rem;
    --fs-instruction-heading: 1.5rem;
    --fs-source-url: 1rem;
    --img-height: 27.75rem;     
    --svgdot6-width:0.813rem;
    --svgdot6-height:0.5rem;
    --fs-ingredient-crack-cheese:1rem;
}

@media (width < 700px){  
    :root{
        --fs-heading: 1.5rem;
        --fs-recon: 0.75rem;
        --fs-ingrd-head:1.125rem;
        --fs-crust:1rem;
        --fs-cheesecake-ingrd: 1.125rem;
        --fs-instruction-heading: 1.5rem;
        --fs-source-url: 0.75rem;
        --img-height: 12.625rem;
        --svgdot6-width:0.813rem;
        --svgdot6-height:0.5rem;
        --fs-ingredient-crack-cheese:0.875rem;
    }
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container{
    width: min(100% ,1000px);
    padding: 1.6rem 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.recipe{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.heading{
    width: max-content;
    font-family: Playfair Display;
    font-size: var(--fs-heading);
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}
.content-svg{
    display: flex;
    padding-top: 1rem;
}
.dots6{
    margin-top: 4px;
    width: var(--svgdot6-weight);
    height: var(--svgdot6-height);
    top: var(--svgdot6-top);
    left: var(--svgdot6-left);

}
.recipe-content{
    margin-left: 8px;
    width: 87%;
    font-family: Montserrat;
    font-size: var(--fs-recon);
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F4F4F;
}
.cheesecake-image{
    padding: 3rem 0;
    width: min(100% ,969px);
    height: var(--img-height);
    top: var(--img-top);
    left: var(--img-left);
    border-radius: 12px;
}

            /* section */

.section{
    display: flex;
    justify-content: space-between;
}

.innerDivCheckbox{
    display: flex;
}

input[type="checkbox"] {
    display: flex;
    flex: 0 0 1.313rem;
    margin-right: 1rem;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    border: 1px;
    border: 1px solid #828282;
}
.ingredientsDiv label{
    padding-bottom: 1rem;
}

strong{
    font-weight: 700;
}

i strong{
    font-weight: 500;
}

.left{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.right{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    max-height: fit-content;
    width: 35%;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
    height: 367px;
    width: 216px;
}

.mainDiv{
    display: flex;
    justify-content: space-around;
    height: 34px;
    width: 122px;
}
.innerDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
        /* ingrdients */

.ingredients{
    display: flex;
    flex-direction: column;
}

.ingrdients-heading{
    padding-bottom: 2rem;
    font-family: Playfair Display;
    font-size: var(--fs-ingrd-head);
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.crust{
    padding-bottom: 2rem;
    font-family: Playfair Display;
    font-size: var(--fs-crust);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.ingredientsDiv{
    display: flex;
    flex-direction: column;
}

    /* for both crust and cheesecake end*/

.ingredient-crack-cheese{
    font-family: Montserrat;
    font-size: var(--fs-ingredient-crack-cheese);
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}

.cheesecake-ingredients{
    padding: 1.5rem 0 2.5rem 0;
    font-family: Playfair Display;
    font-size: var(--fs-cheesecake-ingrd);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;

}

    /* instructions */

a {
    text-decoration: none;
    color: #BDBDBD
}

.listClass > li:before {  
    margin-right: 10px;
    width:36px;
    height:36px;
    display:inline-flex;
    justify-content: center;
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    background-color:#F2994A;
    border-radius:6px;
    color:#fff;
    content: counter(index);
    counter-increment:index;
}
li:first-child {
    counter-reset:index;
}
.listClass li {
    list-style: none;
    display: flex;
}

.instructions{
    list-style: inside;
    display: flex;
    flex-direction: column;
}

.instructions-heading{
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-family: Playfair Display;
    font-size: var(--fs-instruction-heading);
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
    color: #333333;
}

.instructionDiv{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.instructions-list{
width: fit-content;
padding-bottom: 2.5rem;
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #000000;
}

.source-url{
    padding: 2rem 0;
    font-family: Montserrat;
    font-size: var(--fs-source-url);
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #BDBDBD;
}

.svgImages{
    width: 28.33px;
    height: 28.33px;   
}

.txtHead{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #BDBDBD;
    width: 77px;
    height: 12px;
}

.txtDesc{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    width: 80px;
    height: 17px;
}

.footer{
    height: 70px;
    display: grid;
    grid-template-rows: 1fr;
    align-items: end;
}

.ftext{
    color: #BDBDBD;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

}

            /* mobile */


@media only screen and (max-width:700px) {
    .container{
        max-width: 375px;
        min-height: 3740px;
        padding: 1.2rem 0.625rem;
    }
    .recipe{
        width: fit-content;
    }
    .right{
        padding-bottom: 2rem;
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .section{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .time{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        height: max-content;
        width: 350px;
    }
    .mainDiv1{
        grid-column:  1 / span 4;
        padding-bottom: 1rem;
    }
    .cheesecake-image{
        width: 352px;
    }
    .ingredientsDiv label{
        display: flex;
        flex-direction: column;
        flex: 0 0 21rem;
    }
    .instructions-list{
        width: 18.1em;
    }
    .url-div{
        display: flex;
        flex-direction: column;
        width: max-content;
        padding: 2rem 0;
    }
    .source-url{
        white-space: pre-wrap; 
        padding: 0;   
    }
    
}